/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1574717519105-6b85933a6fd6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center;
  color: white;
}

.heroBanner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.heroBanner .container {
  position: relative;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.features {
  padding: 4rem 0;
}

.features .col {
  margin-bottom: 2rem;
  text-align: center;
}

.features h2 {
  color: #25c2a0;
}